@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* common start --------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%;
  font-family: "helvetica neue","helvetica","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

p,li,a {
  color: #013659;
}

.container {
  width: 100%;
}

h1 {
  font-size: 2.375em;
  color: #013659;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 2em;
  color: #013659;
  font-family: 'PT Sans Narrow', sans-serif;
}

p {
  line-height: 1.4em;
  font-size: 14px;
}

a,
a:hover {
  text-decoration: none;
}

::selection {
  background: #013659;
  color: #fff;
}

::-moz-selection {
  background: #013659;
  color: #fff;
}

#wrapper #mainImage img {
  width: 100%;
}


/* PC start */
@media print,screen and (min-width:799px){

/* header */

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

header nav.container {
  height: 55px;
  background: #fff;
}

header .sub {
  background: #0075c1;
  min-height: 30px;
}

header nav.main p a img {
  max-height: 55px;
}

header nav.main ul li a {
  color: #0075c1;
}

header .sub ul li a {
  color: #fff !important;
  font-size: 0.75em;
}

header .sub .row ul.col-sm-2 {
  height: 45px;
}

/* contents */

#mainImage img {
  margin-top: 85px;
  width: 100%;
}

section#first {
  margin-top: 60px;
  width: 75%;
}

section#first h1 {
  font-weight: bold;
  line-height: 1.2em;
}

section#first h1 span {
  font-size: 0.68em;
  letter-spacing: 0em;
}

section#first p.first_text {
  margin: 20px 0;
}

section#first .lgImg {
  margin-bottom: 13px;
}

section#first .lgImg p {
  float: left;
  width: 33%;
  padding-right: 1%;
}

section#first .lgImg p img {
  width: 100%;
  height: auto;
}

section#first .enter_button a {
  display: block;
  min-height: 45px;
  height: 33px;
  padding: 14px 0 14px 12px;
}

section#first .enter_button a:hover {
  background: #013659;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  color: #fff;
}

section#first .enter_button p.long_button {
  border: 1px solid #013659;
  margin-bottom: 20px;
}

section#first .enter_button p.short_button {
  width: 48%;
  float: left;
  border: 1px solid #013659;
}

section#first .enter_button p:last-child {
  margin-left: 4%;
}

section#second {
  width: 100%;
  padding: 30px 0;
  background: #e9eff4;
  margin-top: 55px;
}

section#second h2,
section#second p.title_caption {
  text-align: center;
  line-height: 1.3em;
}

section#second p.title_caption {
  padding-bottom: 23px;
  background: url('../img/h2_border.png')no-repeat center bottom;
  margin-bottom: 45px;
}

section#second article {
  width: 75%;
  margin: 0 auto;
}

section#second article a:hover {
  opacity: 0.5;
}

section#second article div.col-md-4 {
  margin-right: 5%;
  padding-left: 0px;
  padding-right: 0px;
  width: 30%;
}

section#second article div:last-child {
  margin-right: 0px;
}

section#second article a img {
  width: 100%;
}

section#second article a p.news_text {
  padding: 10px;
  background: #fff;
}

}

/* PC end */

/* SP start */

@media screen and (max-width:800px){

  }

/* SP end */